:root {
  --first-color: #56a3a6ff;
  /* --second-color: #c16200ff; */
  --second-color: #ff5f00ff;
  --third-color: #212227ff;
  --fourth-color: #e0ca3cff;
  --fifth-color: #fceff9ff;

  --sixth-color: #631295;

  --erro-color: #C20114;

  --nineth-color: rgb(41,41,41);
  --seventh-color: rgb(34,34,34);
  --eigth-color: rgb(31,31,31);
}

/* .d-flex{
  justify-content: space-between !important; 
  
} */
.navbar {
  /* background-color: var(--third-color); */
  background-color: var(--nineth-color);
} 

h1,
h2,
h3,
h4,
p,
i{
color: var(--fifth-color);

}

#logo {
  color: var(--fifth-color);
  transition: transform 0.5s;
  font-weight: 700;
}

#logo:hover {
  color: var(--second-color);
  transform: scale(1.2);
}

.dev {
  color: var(--sixth-color);
  font-weight: 700;
}

.menu {
  color: var(--fifth-color);
}

.active {
  color: var(--second-color) !important;
}

.navbar-nav li a{
  color: var(--third-color);
}

.navbar-nav li a:hover {
  color: var(--second-color) !important;
  
}

.navbar-nav li a:visited{
  color: var(--fifth-color);
}

.dropdown-menu li a {
  color: var(--third-color) !important;
}



/* section1  */

.section-1 {
  background-color: var(--third-color);
}

.section-1 .container .row {
  padding-top: 70px;
  padding-bottom: 0;
}

.section-1 .container .row .col-md-6  img {
  width: 20rem;
  margin-left: auto;
  margin-right: 5rem;
  transform: translateY(1.2rem);
}

.row .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}


.section-2 {
  background-color: var(--eigth-color);

}

.section-2 .container .row {
  padding : 5rem;

}

.section-2 .container .row #journey {
  justify-content: start;
  align-items: center;
}

.section-2 .container .row #journeyBrief {
  justify-content: start;
  align-items: start  ;
}

/* section 3  */

.section-3{
  background-color: var(--sixth-color);
}

.section-3 .container {
  padding: 1.5rem;
}

.section-3 .container .row .c {
text-align: center;
}

.section-3 .container .row {
 max-width: 70%;
 margin-inline: auto;
}

/* section 4  */

.section-4 {
  background-color: var(--third-color);
  padding: 2vmin 0;
}

.section-4 .container {
  text-align: center;
  padding-top: 10vmin;
}

.section-4 .container .row {
  max-width: 900px;
  margin-inline: auto;
}

.section-4 .container .row .col-lg-3 {
  margin-bottom: 2vmin;
}

.section-4 .container .row .col-lg-3 .card{
  border: none;
  background-color: var(--sixth-color);
  max-height: 25rem;
}
.section-4 .container .row .col-lg-3 .card .card-body {
  min-height: 13rem;
  display: flex;
  align-items: center;
}



.section-4 .container h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}


.section-4 .container .row .card p,
.section-4 .container .row .card h2{
  color: var(--fifth-color);
}





/* section     contact */

#contact {
  background-color: var(--eigth-color);
}

.container-fluid {
  background-color: var(--sixth-color);
  
}

.section-contact .h4 {
  color: var(--fifth-color);
}

.section-contact .container {
  
}

.section-contact .container p .bi {
  color: var(--second-color);
}

.section-contact form textarea {
  resize: none;
}

.section-contact form button {
  background-color: var(--second-color);
  color: var(--fifth-color);
  transition: transform 0.3s;
}

.section-contact form button:hover {
  background-color: var(--second-color);
  color: var(--fifth-color);
  transform: scale(1.1);
} 

.section-contact .form {
  background-color: var(--nineth-color);
  border-radius: 10px;
}

#footer {
  background-color:var(--nineth-color);
}