:root {
  --first-color: #56a3a6ff;
  /* --second-color: #c16200ff; */
  --second-color: #ff5f00ff;
  --third-color: #212227ff;
  --fourth-color: #e0ca3cff;
  --fifth-color: #fceff9ff;

  --sixth-color: #631295;
  --erro-color: #C20114;

  
  --nineth-color: rgb(41,41,41);
  --seventh-color: rgb(34,34,34);
  --eigth-color: rgb(31,31,31);
}

/* .d-flex{
  justify-content: space-between !important; 
  
} */
.navbar {
  /* background-color: var(--third-color); */
  background-color: var(--nineth-color);
} 

h1,
h2,
h3,
h4,
p,
i{
color: var(--fifth-color);
}

#logo {
  color: var(--fifth-color);
  transition: transform 0.5s;
  font-weight: 700;
}

#logo:hover {
  color: var(--second-color);
  transform: scale(1.2);
}

.fixed-top .container a .dev {
  color: var(--sixth-color);
}

.menu {
  color: var(--fifth-color);
}

.active {
  color: var(--second-color) !important;
}

.navbar-nav li a{
  color: var(--fifth-color);
}

.navbar-nav li a:hover {
  color: var(--second-color) !important;
  
}

.navbar-nav li a:visited{
  color: var(--fifth-color);
}

.dropdown-menu li a {
  color: var(--third-color) !important;
}



/* section1  */

.section-1 .container .row {
  padding-top: 70px;
}

.row .col-lg-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}




.section-1 {
  background-color: var(--eigth-color);
}


.btn-color {
  background-color: var(--sixth-color);
  color: var(--fifth-color);
}
#hire {
  background-color: var(--second-color);
}

.btn-color:hover {
  color: var(--fifth-color);
  background-color: var(--second-color);
  border: none;
} 

.col-lg-1 .row {
margin-top: 12rem;
}

.bi {
  cursor: pointer;
  transition: 0.3s;
}

.bi :hover {
  color: var(--second-color);
}

.sh3rd {
  padding: 0;
}

.projects h2{
  font-size: 18px;
}
.projects p{
  font-size: 12px;
}


#image1 {
  width: 50px;

}




/* section services */
.section-services {
  background-color: var(--sixth-color);
  padding: 10vmin 0;
}

.section-services .container {
  text-align: center;
}

.section-services .container .row .nd2 .col-md-3 {
  padding: 15px;
  padding-bottom: 30px;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.container .row .nd2 .col-md-3 .c2,
.container .row .nd2 .col-md-3 .c2,
.container .row .nd2 .col-md-3 .c4{
  padding: 25px;
}

.container .row .nd2 .col-md-3 .c2,
.container .row .nd2 .col-md-3 .c4 {
  background-color: var(--eigth-color);
}



.section-services .container .row .nd2 .f {
  color: var(--second-color);
  font-size: 30px;
}
.section-services .container .row .nd2 h3 {
  font-size: 18px;
  margin-top: 15px;
}  


.section-services .container .row .nd2 p {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1rem;

}




/* section services title 1st */
.section-services .container .row .sst {
  margin-bottom: 30px;
}



.row .sst h3 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.row .sst h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}



/* section services 2nd  */
.section-services .container .row .nd2 {
  background-color: var(--third-color);
  max-width: 900px;
  margin-inline: auto;
  box-sizing: border-box;
}


.nd2 .row .c1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: right;
  padding-left: 20px;
  padding-bottom: 50px;
}

.nd2 .row .c1 .features {
  font-size: 35px;
}

.nd2 .row .c1 h3 {
  font-size: 25px;
  text-align: left;
  margin-bottom: 25px;
}

.nd2 .row .c1 button a{
  background-color: var(--sixth-color);
  text-decoration: none;
  color: var(--fifth-color);
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: transform 0.5s;
}
/* 
.nd2 .row .c1 button .bi-arrow-right-short {
  color: var(--fifth-color);
} */

.nd2 .row .c1 button a:hover {
  background-color: var(--second-color);
  transform: scale(1.2);
}



#statsindex {
  max-width: 700px;
}

/* section      about  */

.section-about {
    background-color: var(--eigth-color);
    z-index: -1;
}

  #sarimg {
  transform: skew(5deg);
  transition: transform 0.3s;
}

#sarimg:hover {
  transform: scale(1.3);
}




/* section     contact */

#contact {
  background-color: var(--eigth-color);
}

.container-fluid {
  background-color: var(--sixth-color);
  
}

.section-contact .h4 {
  color: var(--fifth-color);
}


.section-contact .container p .bio {
  color: var(--second-color);
}

.section-contact form textarea {
  resize: none;
}

.section-contact form button {
  background-color: var(--second-color);
  color: var(--fifth-color);
  transition: transform 0.3s;
}

.section-contact form button:hover {
  background-color: var(--second-color);
  color: var(--fifth-color);
  transform: scale(1.1);
} 

.section-contact .form {
  background-color: var(--nineth-color);
  border-radius: 10px;
}

#footer {
  background-color:var(--nineth-color);
}